# Data Structures (Dictionaries)

##### Basic Data Structures in Python include:
1. List
2. Tuples
3. Dictionaries
4. Sets

### Terms to note
* Mutable - allows changes

* Immutable - does not allow changes

* Ordered - it's arrange

# Dictionaries

A dictionary in python is a **mutable** data structure that stores mappings of **unique keys to values**.

They are created by using { } or dict().

Dictionaries can have keys of any **immutable type**, like integers or tuples, not just strings. Itâ€™s also not compulsory for every key to have the same data type.

Elements in a dictionary can be accessed using the **keys and [ ]**.

One important dictionary related method is the get() method.

The get() method looks up values in a dictionary, but unlike square brackets, get()
returns None (or a default value of your choice) if the key isn't found.

In [1]:
# Example 1
students_score = {'John':80, 'Aaron':79,'Jasmine':90}

In [3]:
type(students_score )

dict

In [5]:
students_score

{'John': 80, 'Aaron': 79, 'Jasmine': 90}

In [7]:
# Example 2
conutries_data = {'country':['Ghana','USA','Germany','Japan','India','Nigeria','Togo'],
               'capital':['Accra','Washington','Berlin','Tokyo','New Delhi','Abuja','Lome']}

In [9]:
conutries_data

{'country': ['Ghana', 'USA', 'Germany', 'Japan', 'India', 'Nigeria', 'Togo'],
 'capital': ['Accra',
  'Washington',
  'Berlin',
  'Tokyo',
  'New Delhi',
  'Abuja',
  'Lome']}

### Indexing

In [11]:
students_score

{'John': 80, 'Aaron': 79, 'Jasmine': 90}

In [13]:
# printing the keys of a dictionary

students_score.keys()

dict_keys(['John', 'Aaron', 'Jasmine'])

In [15]:
# printing the values of a dictionary

students_score.values()

dict_values([80, 79, 90])

In [17]:
#indexing 
students_score['John']

80

In [19]:
#indexing outside a dictionary keys
students_score['Daniel']

KeyError: 'Daniel'

In [21]:
### Using the get method for indexing
students_score.get('John')

80

In [23]:
# The get method and an external key

print(students_score.get('Daniel')) # it does not throw an error, it retunrs None by default.

None

In [25]:
# Specifying what to return when indexing with an external key.

print(students_score.get('Daniel','Not available')) # it does not retunrs None, it returns'Not available' as specified.

Not available

### Updating a dictionary

In [27]:
d = {'A':100, 'B':200, 'C':100}

In [29]:
d['C']

100

In [31]:
d['C'] = 250

In [33]:
d['C']

250

In [36]:
d.keys()

dict_keys(['A', 'B', 'C'])

In [38]:
'D' in d.keys()

False

In [40]:
d['D'] = 300

In [42]:
d

{'A': 100, 'B': 200, 'C': 250, 'D': 300}

In [ ]:
#Change the value of A to 200

d['A']=200

In [ ]:
d

### other dictionary related methods

In [ ]:
# Insert key with a value of default if key is not in the dictionary.
d.setdefault('w',0)

In [ ]:
d

### setdefault()

In [44]:
d.setdefault('B',0)

200

In [46]:
d

{'A': 100, 'B': 200, 'C': 250, 'D': 300}

### fromkeys()

In [48]:
a = ['one','two','three','four']

num_dict = dict.fromkeys(a,0)

In [50]:
num_dict

{'one': 0, 'two': 0, 'three': 0, 'four': 0}

In [52]:
num_dict['one'] = 100

In [54]:
num_dict

{'one': 100, 'two': 0, 'three': 0, 'four': 0}

### update()

In [56]:
d

{'A': 100, 'B': 200, 'C': 250, 'D': 300}

In [58]:
d.update({'A':40})

In [60]:
d

{'A': 40, 'B': 200, 'C': 250, 'D': 300}

In [62]:
d.update({'k':380})

In [64]:
d

{'A': 40, 'B': 200, 'C': 250, 'D': 300, 'k': 380}

### items()
changes the keys and values of a dictionary a list of tuples

In [66]:
d

{'A': 40, 'B': 200, 'C': 250, 'D': 300, 'k': 380}

In [68]:
d.items()

dict_items([('A', 40), ('B', 200), ('C', 250), ('D', 300), ('k', 380)])

In [70]:
for i in d.items():
    print(i)

('A', 40)
('B', 200)
('C', 250)
('D', 300)
('k', 380)

In [ ]:
type(d.items())

 It also allows methods like: pop(), is in,is not, in, add()**

### Empty Dictionary

In [72]:
empty_dict = {}

In [74]:
empty_dict

{}

# set

1. Sets do not allow duplicates 
2. Sets are created using { } or set() function
3. Sets are not ordered ( this means sets cannot be indexed)
4. Sets are mutable (you can add or remove from a set once it is created)
5. They can hold different data types or data structures at the same time

**It's used to remove duplicates in data**

# Demo

In [82]:
# Example 1
fruit = {"mango","apple","orange","pear","pawpaw","pineapple","orange","mango"}

In [84]:
print(fruit)

{'pawpaw', 'apple', 'orange', 'pineapple', 'pear', 'mango'}

In [86]:
# Example 2
countries = ['Ghana','Togo','India','Nigeria','India','Ghana','USA']

In [88]:
country_set = set(countries)
print(country_set)

{'USA', 'Ghana', 'Nigeria', 'Togo', 'India'}

In [90]:
#country_set[0] # Note that elements of a set are not ordered and therefore cannot indexed

**Creating an empty set**

In [93]:
my_set = set() # this is called empty set

In [95]:
type(my_set)

set

**Note**: Don't try creat an empty set with {}. That will rather create an empty dictionary.

In [98]:
x = {} # This will create an empty dictionary not an empty set

type(x)

dict

## Some basic set related methods

* add
* pop
* remove

**add**

In [100]:
numbers = {1, 2,3, 4,5,6,7,8}

In [102]:
numbers

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

In [106]:
numbers.add(9)

In [108]:
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**pop**

It removes and returns an arbitrary set element

In [113]:
numbers.pop()

2

In [115]:
numbers

{3, 4, 5, 6, 7, 8, 9}

In [117]:
country_set

{'Ghana', 'India', 'Nigeria', 'Togo', 'USA'}

In [119]:
country_set.pop()

'USA'

In [121]:
country_set

{'Ghana', 'India', 'Nigeria', 'Togo'}

**remove**

Removes a specified  element from a set. The element must be a member of the set

In [124]:
fruits = {"mango","pear","apple","orange","pawpaw","pineapple","orange","mango"}

In [126]:
fruits.remove("pear")

In [128]:
fruits

{'apple', 'mango', 'orange', 'pawpaw', 'pineapple'}

### Set operations
* union
* intersection
* difference

In [130]:
x = {1,2,3,4,6}

y = {5,6,7,8,1}

**union**

In [132]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

**intersection**

In [136]:
x.intersection(y) # intersection

{1, 6}

In [138]:
x&y

{1, 6}

**difference**

In [140]:
x.difference(y)

{2, 3, 4}

In [142]:
x-y

{2, 3, 4}

In [144]:
y-x

{5, 7, 8}